.ecc {
  height: 100%;
  display: flex;
  justify-content: space-between;

  .ecc-form {
    width: 49%;
    height: 100%;
    background: #fff;
    overflow: auto;
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .ecc-bg {
      width: 100%;
      height: 80%;
      background: url(../../../assets/wecom-temp-9a2acf8c0a574d4268905934582fb424.png);
      background-size: contain;
      background-repeat: no-repeat;
      margin-top: 12px;
    }
  }

  .ecc-show {
    width: 49%;
    height: 100%;
    background: #fff;
    overflow: auto;
    padding: 24px;

    .ecc-show-item {
      margin-bottom: 8px;
    }
  }
}