#box1 {
  width: 500px;
  height: 500px;
  background: pink;
  // background-image: url(../assets/icon1.png);

  p {
    font-size: 24px;
    transform: rotate(45deg);
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      border: 1px solid black;

      a {
        color: pink;
      }
    }
  }
}